// :root {
//   /* color palette */
//   --primaryColor : #E8B63B;
//   --secondColor : #2A00FF;
//   --thirdColor : #E55C5B;
// /*  Colores variantes */
//   --v-primaryColor : #181B22;
//   --v-secondColor : #181B46;
//   --v-thirdColor : #6E3081;
//   --v-fourthColor : #A7554A;
//   --v-bg-menu : #3e1bce94;
// /* Color de parrafo */
//   --p-primaryColor : #E1E1E1;

//   /* Typography weight */
//   --regular : 400;
//   --bold : 700;

//   --max-width: 1366px;
//   --gutter: 16px;

// }

.inner-padding {
  padding-top: 16px * 4;
  padding-bottom: 16px * 4;
}
/* subrayado rojo <span> */
.underline {
  padding: 0 5px;
  background-color: #E55C5B;
}


// -------------------------------------------------------------------------------------------


.page-schedule{


  .toggle-modal{
    display: block;
    text-align: center;
    margin: 16px 0;
    color: #A7554A;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__day{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  // ESTILOS BOTONES
  &__day-picker{
    padding: 0;
    text-align: center;


    .pick-day{
      outline: none;
      cursor: pointer;
      background-color: #181B46;
      padding: .8em;
      border-radius: 5px;
      color: #E1E1E1;
      margin: 0 10px;
      min-width: 90px;
      font-weight: 700;
      text-transform: uppercase;
      transition: .4s ease;
      &:hover {
        background-color: #2A00FF;
      }
    }

  }


  &__title{
    color: #E8B63B;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__ul{
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__li {
    display: flex;
    position: relative;
    list-style-type: none;

    /* icono cuadrado  <li> */
    &::after{
      content: '';
      position: absolute;
      display: flex;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      background: #E8B63B;
    }

    /* linea <li> */
    &::before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 100%;
      background: #E8B63B;
      z-index: -100;
    }

    /* linea final <li> */
   &:last-child::before {
     top: -1px;
   }

  }

  /* <article> */
  .page-card{
    position: relative;
    max-width: fit-content;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    margin: calc(16px * 4) 0;


    /* time */
    &__time{
      position: absolute;
      left: 50%;
      top: -2%;
      transform: translate(-50%, -50%);
      padding-left: 20px;
      padding-right: 16px;
      border: 4px solid #E8B63B;
      background-color: #fff;
      text-align: center;
      z-index: 100;
      &-start{
        font-size: 1.125em;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }

    // contenedor de: foto e informacion
    &__contentainer{

      // <figure>
      .page-card__figure-photo{
        margin: 16px auto;
        max-width: 400px;
        max-height: 400px
      }


    }

    &__information{
        background-color: #181B22;
    }

    &__information-description{
      padding: 16px;
      text-align: center;

      [href="#lucasArag"],
      [href="#colinIhr"],
      [href="#bryanHug"],
      [href="#jeromeHard"]{
        display:none;
      }
    }

    .page-activity{
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 1.5em;
      color: #E1E1E1;
    }

    .page-speaker-name{
      font-size: 1.2em;
      font-weight: 700;
      color: #E8B63B;
    }

    .page-information{
      font-size: 1.125em;
      color: #E1E1E1;

      .modal-content{
        background-color: #181B22;
        padding: 16px;
      }
    }

    .page-speaker-social{
      display: inline-block;
      margin-top: 16px;
      margin-bottom: 16px;
      // border: 1px solid #6E3081;

      & a {
        padding: 16px;
        color: #6E3081;
        font-size: 1.125em;
        letter-spacing: 2px;

        &:hover{
          color: #E1E1E1;
        }
      }
    }


  }

  .event{
    margin: 16px 0;
    padding: 16px 30px;
    background-color:#E55C5B;
    font-size: 1.125em;
    text-transform: uppercase;
  }


  @media only screen and (min-width : 1000px) {

    // <article>
    .page-card{


      // contenedor de: foto e informacion
      &__contentainer{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 700px;

        .page-card__photo{
          // <figure>
          .page-card__figure-photo{
            margin: 0;
            width: 350px;
         }
        }

        .page-card__information{

          .modal{
            width: 90%;
          }

          .page-speaker-social{
            margin-bottom: 0;

            a { padding-bottom: 0;}
          }

        }

      }

    }

  }

}



