:root {
  @import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');

  body {
    font-family: 'Space Mono', monospace;
    line-height: 1.7;
  }

  h1, h2, h3{
      font-family: 'Space Mono', monospace;
  }

  /* color palette */
  --primaryColor : #E8B63B;
  --secondColor : #2A00FF;
  --thirdColor : #E55C5B;
/*  Colores variantes */
  --v-primaryColor : #181B22;
  --v-secondColor : #181B46;
  --v-thirdColor : #6E3081;
  --v-fourthColor : #A7554A;
  --v-bg-menu : #3e1bce94;
/* Color de parrafo */
  --p-primaryColor : #E1E1E1;

  /* Typography weight */
  --regular : 400;
  --bold : 700;

  --max-width: 1366px;
  --gutter: 16px;

}

.inner-padding {
  padding-top: calc(var(--gutter) * 4);
  padding-bottom: calc(var(--gutter) * 4);
}
/* subrayado rojo <span> */
.underline {
  padding: 0 5px;
  background-color: var(--thirdColor);
}


// -------------------------------------------------------------------------------------------


.page-schedule{


  .toggle-modal{
    display: block;
    text-align: center;
    margin: var(--gutter) 0;
    color: var(--v-fourthColor);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__day{
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
  }

  // ESTILOS BOTONES
  &__day-picker{
    padding: 0;
    text-align: center;


    .pick-day{
      outline: none;
      cursor: pointer;
      background-color: var(--secondColor);
      padding: .8em;
      border-radius: 5px;
      // color: var(--primaryColor);
      margin: 0 10px;
      min-width: 90px;
      font-weight: var(--bold);
      text-transform: uppercase;
      transition: .4s ease;
      &:hover {
        background-color: var(--v-secondColor);
      }
      a{
        color: var(--primaryColor);
      }
    }

  }


  &__title{
    color: var(--primaryColor);
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--bold);
  }

  &__ul{
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__li {
    display: flex;
    position: relative;
    list-style-type: none;

    /* icono cuadrado  <li> */
    &::after{
      content: '';
      position: absolute;
      display: flex;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      background: var(--primaryColor);
    }

    /* linea <li> */
    &::before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 100%;
      background: var(--primaryColor);
      z-index: -100;
    }

    /* linea final <li> */
   &:last-child::before {
     top: -1px;
   }

  }

  /* <article> */
  .page-card{
    position: relative;
    max-width: fit-content;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    margin: calc(var(--gutter) * 4) 0;


    /* time */
    &__time{
      position: absolute;
      left: 50%;
      top: -2%;
      transform: translate(-50%, -50%);
      padding-left: 20px;
      padding-right: var(--gutter);
      border: 4px solid var(--primaryColor);
      background-color: #fff;
      text-align: center;
      z-index: 100;
      &-start{
        font-size: 1.125em;
        font-weight: var(--bold);
        letter-spacing: 2px;
      }
    }

    // contenedor de: foto e informacion
    &__contentainer{

      // <figure>
      .page-card__figure-photo{
        margin: var(--gutter) auto;
        max-width: 400px;
        max-height: 400px
      }


    }

    &__information{
      background-color: var(--v-primaryColor);
    }

    &__information-description{
      padding: var(--gutter);
      text-align: center;

      [href="#lucasArag"],
      [href="#colinIhr"],
      [href="#bryanHug"],
      [href="#jeromeHard"]{
        display:none;
      }
    }

    .page-activity{
      padding-top: var(--gutter);
      padding-bottom: var(--gutter);
      font-size: 1.5em;
      color: var(--p-primaryColor);
    }

    .page-speaker-name{
      font-size: 1.2em;
      font-weight: var(--bold);
      color: var(--primaryColor);
    }

    .page-information{
      font-size: 1.125em;
      color: var(--p-primaryColor);

      .modal-content{
        background-color: var(--v-primaryColor);
        padding: var(--gutter);
      }
    }

    .page-speaker-social{
      display: inline-block;
      margin-top: var(--gutter);
      margin-bottom: var(--gutter);
      // border: 1px solid var(--v-thirdColor);

      & a {
        padding: var(--gutter);
        color: var(--primaryColor);
        font-size: 1.125em;
        letter-spacing: 2px;

        &:hover{
          color: var(--p-primaryColor);
        }
      }
    }


  }

  .event{
    margin: var(--guter) 0;
    padding: var(--gutter) calc(var(--gutter) * 2);
    background-color: var(--thirdColor);
    font-size: 1.125em;
    text-transform: uppercase;
  }


  @media only screen and (min-width : 1000px) {

    // <article>
    .page-card{


      // contenedor de: foto e informacion
      &__contentainer{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 700px;

        .page-card__photo{
          // <figure>
          .page-card__figure-photo{
            margin: 0;
            width: 350px;
         }
        }

        .page-card__information{

          .modal{
            width: 90%;
          }

          .page-speaker-social{
            margin-bottom: 0;

            a { padding-bottom: 0;}
          }

        }

      }

    }

  }

}



