.section-venue__background {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 100%,
    80% 100%,
    20% 100%,
    0% 80%,
    0 0
  );
  background-color: var(--v-fourthColor);
  padding-bottom: 140px;
  // padding-top: 5px;
  background-size: cover;
  @media only screen and (max-width: 768px) {
    padding-bottom: 90px;
  }
  h2 {
    color: var(--v-secondColor);
    font-size: 54px;
    text-align: center;
    font-weight: 700;
    @media only screen and (max-width: 768px) {
      font-size: 36px;
    }
  }
  p {
    color: var(--p-primaryColor);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: var(--gutter);
    @media only screen and (max-width: 768px) {
      font-size: 18px;
      margin-top: -46px;
    }
  }

  .section-venue__hotels {
    // margin-left: 200px;
    padding-left: 800px;
    margin-top: -320px;
    @media only screen and (max-width: 768px) {
      padding-left: 0;
      margin-top: 0;
    }
    h3 {
      margin: var(--gutter);
      text-align: left;
      font-weight: 700;
      font-size: 24px;
      color: var(--v-secondColor);
      @media only screen and (max-width: 768px) {
        text-align: center;
        font-size: 25px;
      }
    }
    .section-venue__hotel {
      max-width: 220px;
      margin: var(--gutter);
      @media only screen and (max-width: 768px) {
        margin-left: 100px;
      }
    }
    p {
      // margin-top: 1em;
      font-size: 24px;
      text-align: left;
      @media only screen and (max-width: 768px) {
        margin: var(--gutter);
        text-align: center;
        font-size: 18px;
      }
      //   margin-right: -9em;
    }
    .section-venue__rutan {
      max-width: 200px;
      margin: var(--gutter);
      @media only screen and (max-width: 768px) {
        margin-left: 130px;
        max-width: 180px;
      }
    }
  }
  .section-venue__rutaN {
    max-width: 400px;
    margin: var (--gutter);
    margin-left: 250px;
    margin-top: 80px;
    @media only screen and (max-width: 768px) {
      margin-left: 90px;
      max-width: 250px;
      padding-bottom: auto;
      margin-top: 0;
    }
  }
}
