.aside {


  .content-btn-schedule{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
    left: 83%;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--v-bg-menu );
    opacity: .8;
    z-index: 100;
    @media only screen and (min-width : 320px) and (max-width : 520px){
    left: 85%;
    }
    @media only screen and (min-width : 520px) and (max-width : 720px){
      left: 88%;
      padding: 10px 15px;
    }
    @media only screen and (min-width : 720px){
      left: 90%;
    }
    @media only screen and (min-width : 900px){
      left: 91%;
      padding: 12px 15px;

    }
    @media only screen and (min-width : 1000px){
      display: none;
    }

    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primaryColor);
      font-size: 2em;
      @media only screen and (max-width : 320px){
        font-size: 1.5em;
      }
      @media only screen and (min-width : 520px) and (max-width : 720px){
        font-size: 2.5em;
      }
      @media only screen and (min-width : 720px){
        font-size: 2.8em;
      }
      @media only screen and (min-width : 900px){
        font-size: 3em;
      }
    }
  }
}


.sidebar{
  display: none;


  /* ESTILOS DEL MENU <ul> */
  .main-menu{
    margin: var(--gutter) 0;
    padding-left: 0;

    &__link{
      display: block;
      color: var(--primaryColor);
      padding: var(--gutter);
      text-transform: uppercase;
      font-size: 1.5em;
      transition: .4s ease-in;

      &:hover{
        background-color: #fff;
      }
    }

  }

  /* ESTILOS PARA LOS BOTONES - MENU */
    .data-schedule{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: red;

    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 2%;
      margin: var(--gutter) 0;
      padding: var(--gutter);
      color: var(--p-primaryColor);
      background-color: rgba(232, 182, 59, .8);
      cursor: pointer;
      border-radius: 50px;
      font-size: 2.125em;
      transition: .4s ease;
      z-index: 100;

      &:hover{
        color: var(--primaryColor);
        background-color: var(--p-primaryColor);
      }
    }

    @media only screen and (min-width : 1000px) {
      display: none;
    }
  }


  @media only screen and (min-width : 1000px) {

    & {
      display: block;
      position: fixed;
      top: 20%;
      left: 1%;
      width: fit-content;
      height: fit-content;
      background-color: var(--v-bg-menu);
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
      transition: .4s ease-in;
      z-index: 200;

      @media only screen and (min-width : 1200px) {
        padding: var(--gutter);
      }

      .main-menu__link {
        margin-left: 20px;
        padding: 0;
        letter-spacing: 1px;
        font-size: 1.125em;
        text-align: left;

        &:hover{ background-color: transparent; }
      }

      .content-btn-menu,
      .logo-menu,
      .social-media-menu { display: none; }

      /* ESTILOS PARA EL MENU, DINAMICO */
      a:hover, .sidebar li.active a{
        text-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 10px rgb(255, 255, 255);
        color: #fff;
        cursor: pointer;
      }

      .main-menu__item.active{
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMS44MSAxOS42OCI+ICAgIDxkZWZzPiAgICAgICAgPHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+ICAgIDwvZGVmcz4gICAgPHRpdGxlPmFycm93LWxpbms8L3RpdGxlPiAgICA8ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj4gICAgICAgIDxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+ICAgICAgICAgICAgPHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iMy45NCIgaGVpZ2h0PSIzLjk0Ii8+ICAgICAgICAgICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSIzLjk0IiB5PSIzLjk0IiB3aWR0aD0iMy45NCIgaGVpZ2h0PSIzLjk0Ii8+ICAgICAgICAgICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSI3Ljg3IiB5PSI3Ljg3IiB3aWR0aD0iMy45NCIgaGVpZ2h0PSIzLjk0Ii8+ICAgICAgICAgICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSIzLjk0IiB5PSIxMS44MSIgd2lkdGg9IjMuOTQiIGhlaWdodD0iMy45NCIvPiAgICAgICAgICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iMTUuNzQiIHdpZHRoPSIzLjk0IiBoZWlnaHQ9IjMuOTQiLz4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==) no-repeat right;
        background-position-x: 0px;
        transform: skew(264rad);
        transition: .5s ease;


        a {
          text-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 10px rgb(255, 255, 255);
          color: #fff;
          cursor: pointer;
        }
      }

      @media only screen and (min-width : 1200px) { left: 2%; }

    }

  }
}
