.section-team__background {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 80%,
    80% 100%,
    20% 100%,
    0 100%,
    0% 20%
  );
  padding-bottom: 45em;
  // margin-bottom: -5px;
  background-color: #181b46;
  h2 {
    // margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: #e55c5b;
    font-size: 54px;
    font-weight: 700;
  }

  .section-team__members {
    align-items: center;
    justify-content: left;
    margin: 2em auto;
    padding: -0.1em;
    max-width: 900px;
  }
  .section-team__data {
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: -80px;
    margin-bottom: 40px;
  }

  .section-team__avatar {
    display: grid;
    grid-template-columns: 50fr 50fr 50fr 50fr 50fr;
    grid-template-rows: auto;
    margin-top: -10px;
    margin-bottom: -600px;
  }

  .section-team__description {
    h5 {
      text-align: center;
      color: #6e3081;
      font-weight: 700;
      &:hover {
        color: #e8b63b;
      }
    }
    i {
      color: #181b22;
      font-size: 1.4em;
      &:hover {
        color: #e8b63b;
      }
    }
    .section-team__role {
      background-color: #fff;
      margin-bottom: 10px;
      max-width: auto;
      min-height: 162px;
      padding-top: 1px;
      p {
        color: #181b22;
        font-weight: 400;
        &:hover {
          color: #e8b63b;
        }
      }
    }
    .section-team__role_invertd {
      background-color: #fff;
      padding-top: 15px;
      padding-bottom: 5px;
      p {
        color: #181b22;
        font-weight: 400;
        &:hover {
          color: #e8b63b;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .section-team__data {
      margin-left: 40px;
      margin-right: 10px;
    }
    .section-team__avatar {
      grid-template-columns: 50fr 50fr 50fr;
    }
  }
  @media (max-width: 414px) {
    .section-team__data {
      margin-left: 70px;
      margin-right: 70px;
    }
    .section-team__avatar {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 414px) {
    .section-team__data {
      margin-left: 60px;
      margin-right: 60px;
    }
  }
}
